services:
  rclone:
    image: rclone/rclone
    command: {{ rclone_command }}
    volumes:
      - {{ rclone_location }}/rclone:/config/rclone
      - {{ rclone_location }}/data:/data:shared
      - /etc/passwd:/etc/passwd:ro
      - /etc/group:/etc/group:ro
    user: {{ rclone_uid }}:{{ rclone_gid }}
    devices:
      - /dev/fuse
    cap_add:
      - SYS_ADMIN
    security_opt:
      - apparmor:unconfined
    